import React, {useMemo, useCallback} from 'react';
import generateStyles from './styles';

interface Props {
  {{#each parts}}
    {{camelCase this}}: string;
  {{/each}}
}

const {{pascalCase name}}:React.FC<Props> = ({ {{#each parts}} {{camelCase this}}, {{/each}} }) => {
  const styles = useMemo(() => generateStyles(), [])
  const createMarkup = useCallback((html:string) => ({__html: html}), []);
  return (
    <div className={styles.container}>
     {{#each parts}}
         <div
          className={ styles.{{camelCase this}} }
          dangerouslySetInnerHTML={createMarkup({{camelCase this}}) }
        />
      {{/each}}
    </div>
  );
};

export default {{pascalCase name}};